div.form_03_view {

  /*правую шапки выравниваем по правому краю*/
  .act_id {
    text-align: right;
  }
  .badge {
    float: right;
  }

}

@media (max-width: 767px) { /*Extra small devices Phones (<768px)*/
  /* Iphone6 Plus Landscape */

  div.form_03_view {

    /*делаем заголовки больше (по сравнению с portrait) */
    h4 {
      font-size: 25px;
    }

    /*текст в таблице делаем меньше*/
    .table {
      font-size: 20px;
      margin-top: 50px;
    }

  }
}

@media (max-width: 415px) { /*Extra small devices Phones (<414px)*/
  /* Iphone6 Plus Portrait */

  div.form_03_view {

    /*делаем заголовки меньше (по сравнению с landscape)*/
    h4 {
      font-size: 17px;
    }

    /*текст в таблице делаем меньше (по сравнению с landscape)*/
    .table {
      font-size: 18px;
    }

  }
}

@media (max-width: 376px) { /* IPhone 7 (<=375px)*/
  div.form_03_view {

    /*делаем заголовки меньше (по сравнению с landscape)*/
    h4 {
      font-size: 17px;
    }

    /*текст в таблице делаем меньше (по сравнению с landscape)*/
    .table {
      font-size: 15px;
    }

  }
}


@media (min-width: 768px) { /*Small devices Tablets (≥768px)*/
  div.form_03_view {

    /*делаем заголовки больше  */
    h4 {
      font-size: 27px;
    }

    .badge {
      float: right;
      /*статус документа делаем побольше*/
      padding: 9px 19px;
      font-size: 15px;
    }

    /*текст в таблице делаем меньше*/
    .table {
      font-size: 20px;
      margin-top: 50px;
    }

  }
}

@media (min-width: 992px) { /*Medium devices Desktops (≥992px)*/
}

@media (min-width: 1200px) { /*Large devices Desktops (≥1200px)*/

}