.chief_povar_day_plan {
  .table {

    /*запрещаем переносы в заголовке таблицы - а то некрасиво прыгает при пользовании фильтрами*/
    thead th {
      white-space: nowrap;
    }

    /*делаем ширину столбца с названием блюда/модификатора фиксированной ширины*/
    .col-title {
      width: 255px !important;
      min-width: 255px !important;
    }

    /*столбец с кнопками действий сделаем больше, чем обычно*/
    .col-actions {
      width: 350px;
    }

    /*позиция, на которую назначен я*/
    tr.my_position {
      background-color: rgba(255,0,0,0.1);
    }

  }
}

@media (max-width: 767px) { /*Extra small devices Phones (<768px)*/
  .chief_povar_day_plan {
    .table {

      /*столбец с названием делаем менее широким*/
      .col-title {
        width: 131px !important;
        min-width: 131px !important;
      }

      /*текст в таблице делаем меньше*/
      font-size: 20px;

    }
  }
}

@media (max-width: 667px) { /* IPhone 7 landscape (<=667px)*/
}

@media (max-width: 376px) { /* IPhone 7 portrait (<=375px)*/
  .chief_povar_day_plan {
    .table {

      /*столбец с названием делаем менее широким*/
      .col-title {
        width: 131px !important;
        min-width: 131px !important;
      }

      /*текст в таблице делаем меньше*/
      font-size: 15px;

    }
  }
}