/*блоку с фильтрами строк таблицы добавляем отступ сверху*/
.table-filters {
  margin-top: 30px;

  /*кнопка, которая активна (т.е. фильтр по этому значению используется в данный момент)*/
  .active {
    background-color: #333333;
    color: white;
    border-color: #333333;
  }

}

.table-with-filters {

  /*но если у таблицы подразумевается фильтр-панель сверху - отступ сделаем меньше*/
  margin-top: 10px;

  tbody {
    tr {
      display: none;
      &.on {
        display: table-row;
      }
    }
  }

}