/* стиль таблицы: "план на день", "акт списания"*/

.table {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;

  /*но если у таблицы подразумевается фильтр-панель сверху - отступ сделаем меньше*/
  &.table-with-filters {
    margin-top: 10px;
  }

  thead th {
    color: #414547;
    background-color: #cdcecf;
  }

  .col-actions {
    width: 250px;
  }

  td, th {
    vertical-align: middle !important;
  }

  td {
    padding: 20px 10px;
  }
}