/*блоку с фильтрами строк таблицы добавляем отступ сверху*/
.table-filters {
  margin-top: 30px;

  /*кнопка, которая активна (т.е. фильтр по этому значению используется в данный момент)*/
  .active {
    background-color: #353535;
    color: white;
    border-color: black;
  }

}