<div class="forms_container">
    <div class="middle">
      <div class="form_01_idle">
        <button type="button" class="btn btn-primary btn-block btn-lg">Просмотреть</button>
        <button type="button" class="btn btn-primary btn-block btn-lg">Списать</button>
        <button type="button" class="btn btn-primary btn-block btn-lg">Удалить</button>
      </div>
    </div>
</div>